body{
	font-family: verdana;
}

.desc {
  background-color: #008080;
  width: 1200px;
  height: 100px;
  padding-top:30px;
  padding-bottom: 40px;
  padding-right:20px;
 
}

.name {
	padding-left: 20px;
	color: white;
}

.hr_1{
	height:2px;
	width:30%;
	text-align: left;
	margin: 5 0 7 0;
	color:white;
	background-color:white;
}
.column{
	width:100%;
	padding-left: 5%;
    padding-top: 5%;
}

#left_col {
   float:left;
   width:30%;
   height: 300px;
  
 }
#right_col {
   float:right;
   width:70%;
   height: 300px;
   
}

.fa{
	color: teal;
	text-align: left;
	size:100px;
	padding: 10px 0;
}


.contact{
	float: right;
	color: black;

	font-size: 14px;
	font-family: verdana;	
	padding: 5 0 5 10;
}

.technical{
	
	font-size: 20px;
	font-weight: bold;
	color: teal;
	margin-bottom:3px;
}

.hr_2{
	height:2px;
	width:70%;
	text-align: left;
	margin:0;
	color:white;
	background-color:teal;
	margin-bottom: 20px;

}

.hr_3{
	height:2px;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 0px;
	color:white;
	background-color:teal;
	

}

.skills{

  border-radius: 10px;
  background: teal;
  padding: 10px;
  display: inline-block;
  margin: 0 5 5 0;
  color: white;
  font-size: 14px;
}

.right_header{
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	color: teal;
	font-weight: bold;
	font-size: 20px;
}

.date{
	float: right;
	font-style: italic;
}

ul{
	margin: 10; 
	padding: 0 10 5 10;
}
.lists{
	list-style-type: square;
	
}

.font_class{
	font-size: 14px;
	margin: 5 0 5 5;

}

.undergrad{
	margin: 10 0 10 5;
}

