body{
	font-family: "Helvetica";
	margin: 0 auto;
}

#resume_name{
	margin: 2 0;
	text-align: center;
}

#resume_title{
	margin: 2 0;
	text-align: center;
}

.fa{
	text-align: left;
}

#contacts_div{
	margin: 2 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.contact_div {
	margin: 2 10;
	vertical-align: middle;
}

.contact {
	margin: auto 5;
}

a{
	color: black;
}

.envelope_icon{
	font-size: 1em;
}

.mobile_icon{
	font-size: 1.40em;
}

.map_icon{
	font-size: 1.25em;
}

.github_icon{
	font-size: 1.25em;
}

.linkedin_icon{
	font-size: 1.25em;
}

.resume_section{
	text-align: justify;
}

hr{
	height:2px;
	border:none;
	margin: 2 0;
}

.section_header{
	margin: 5 0;
}

p{
	margin: 2 0;
}

ul{
	margin: 5 0;
}

.right_align{
	float: right;
}

.italicized{
	font-style: italic;
}